# Node.js dependencies
node_modules/
 
# Build output
build/
 
# Local environment variables
.env
.env.local
.env.*.local
 
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
 
# System files
.DS_Store
Thumbs.db
 
# IDE and editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
 
# Coverage directory
coverage/
 
# Dependency directories
/.pnp
.pnp.js
 
# React Native
.expo/
.expo-shared/
 
# Parcel-bundler cache
.cache/
 
# TypeScript
*.tsbuildinfo
 
# JetBrains IDEs
/.idea/
 
# VSCode settings
.vscode/
